<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduX Technical College - Student Login Page</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">


</head>

<body>

    <div class="left-sidebar-grid">
        <header class="header">
        
    <nav class="navbar fixed-top bg-light">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/signup.html" method="post">Student Registration</a></li>
              <li><a href="/login.html">Student Login</a></li>
              <li><a href="/search.html">Student Search</a></li>
            </ul>
          </li>
        </ul>
        
        <h3 align="center">EduX College Student Portal</h3>
      </div>
      </nav>
        
    </header>
    <main class="main-content">
    
    <form method="post" action = "/login">
    
    <div class="formbuilder-text form-group field-text-1687000541716">
        <label for="text-1687000541716" class="formbuilder-text-label">Email</label>
        <input type="text" class="form-control" name="email"  id="email">
    </div>
    <div class="formbuilder-text form-group field-text-1687000571798">
        <label for="text-1687000571798" class="formbuilder-text-label">Password</label>
        <input type="password" class="form-control" name="passw" id="passw">
    </div>
    
    <div class="formbuilder-button form-group field-button-1687001963747">
        <button type="submit" class="btn-info btn" name="submit" style="info" id="loginbutton">Login</button>
    </div>
    
    </form>
    
    
    </main>
        
       

    <footer class="footer">
        
        <h4 align="center">DESIGNED BY EDUX TECHNICAL COLLEGE IT DEPARTMENT</h4>
        
    </footer>
    </div>


</body>

</html>