<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">



</head>

<body>

    <div class="left-sidebar-grid">
        <header class="header">
        
    <nav class="navbar fixed-top bg-light">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/signup.html" method="post">Student Registration</a></li>
              <li><a href="/login.html">Student Login</a></li>
              <li><a href="/search.html">Student Search</a></li>
              <li><a href="/login.html">Log out</a></li>
            </ul>
          </li>
        </ul>
    <h3 align="center">EduX College Student Portal</h3>
        
    </div>
      
      
    </nav>
        
    </header>
    <main class="main-content">
            
    <form id="updateform">
            
           
    <div class="formbuilder-text form-group field-text-1687000541716">
            <label for="text-1687000541716" class="formbuilder-text-label">Full name</label>
            <input type="text" class="form-control" name="fullname" id="fullname" value="{{setname}}">
    </div>
    <div class="formbuilder-text form-group field-text-1687000571798">
            <label for="text-1687000571798" class="formbuilder-text-label">Registration No</label>
            <input type="text" class="form-control" name="regno" id="regno" value="{{setregno}}" readonly>
    </div>
    <div class="formbuilder-text form-group field-text-1687000606968">
            <label for="text-1687000606968" class="formbuilder-text-label">Email</label>
            <input type="text" class="form-control" name="email" id="email" value="{{setemail}}" readonly>
    </div>
            <div class="formbuilder-text form-group field-text-1687000606968">
            <label for="text-1687000606968" class="formbuilder-text-label">Password</label>
            <input type="password" class="form-control" name="passw" id="passw" value="{{setpass}}">
    </div>
    <div class="formbuilder-select form-group field-select-1687000626556">
            <label for="select-1687000626556" class="formbuilder-select-label">Degree Program</label>
            <select class="form-control" name="course" id="course">
                {% for course in courses %}
            <option value="{{ course.course_name }}" {% if course.course_name== currentcourse %} selected {% endif %}>
                {{ course.course_name }}
            </option>
            {% endfor %}
            </select>
    </div>
    <div class="formbuilder-text form-group field-text-1687000821113">
            <label for="text-1687000821113" class="formbuilder-text-label">Contact No</label>
            <input type="text" class="form-control" name="contactno" id="contactno" value="{{setcontact}}">
    </div>
    <div class="formbuilder-text form-group field-text-1687000842226">
            <label for="text-1687000842226" class="formbuilder-text-label">GPA</label>
            <input type="text" class="form-control" name="gpa" id="gpa" value="{{setgpa}}">
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1687000856762">
            <label for="textarea-1687000856762" class="formbuilder-textarea-label">Introduction</label>
            <textarea type="textarea" class="form-control" name="intro" id="intro">{{setintro}}</textarea>
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1687000862332">
            <label for="textarea-1687000862332" class="formbuilder-textarea-label">Skills</label>
            <textarea type="textarea" class="form-control" name="skills" id="skills">{{setskills}}</textarea>
    </div>
    <div class="formbuilder-button form-group field-button-1687000906405">
            <button type="submit" class="btn-success btn" name="submit" style="success" id="button-1687000906405">Update Student Profile</button>
    </div>
        
    </form>
        
    </main>
        
        
        
    <section class="left-sidebar">
        
        <img src=static/images/default_image.png class="img-circle" alt="Cinque Terre" width="304" height="300"> 
   
    <br><br><br>
            
    
    <form class="form-horizontal">
    <fieldset>
    
    
    <legend>Upload your profile picture here</legend>
    
    <form action="/upload" method="post">
    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">Select Image</label>
      <div class="col-md-4">
        <input name="uploadb" class="input-file" type="file">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="submit" name="submit" class="btn btn-success">Upload</button>
      </div>
    </div>
    </form>
    
    </fieldset>
            
           
            
    </section>
        <footer class="footer">
            
            <h4 align="center">DESIGNED BY EDUX TECHNICAL COLLEGE IT DEPARTMENT</h4>
            
        </footer>
    </div>
    
    
    
    
    
    <script>
        document.getElementById('updateform').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission
            const fullname = document.getElementById('fullname').value;
            const regno = document.getElementById('regno').value;
            const email = document.getElementById('email').value;
            const passw = document.getElementById('passw').value;
            const course = document.getElementById('course').value;
            const contactno = document.getElementById('contactno').value;
            const gpa = document.getElementById('gpa').value;
            const intro = document.getElementById('intro').value;
            const skills = document.getElementById('skills').value;
    
            // Get form data
            const formData = {
                fullname:fullname,
                regno:regno,
                email:email,
                passw:passw,
                course:course,
                contactno:contactno,
                gpa:gpa,
                intro:intro,
                skills:skills
            };
    
            // Send PUT request using fetch
        fetch('/update', {
                method: 'PUT',
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        });
        
        
        
        
    </script>

</body>







</html>