<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">

</head>

<body>

<div class="left-sidebar-grid">
  <header class="header">
    
  <nav class="navbar fixed-top bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/signup.html" method="post">Student Registration</a></li>
          <li><a href="/login.html">Student Login</a></li>
          <li><a href="/search.html">Student Search</a></li>
        </ul>
      </li>
    </ul>
    
    <h3 align="center">EduX College Student Portal</h3>
  </div>
  </nav>
    
  </header>
    <main class="main-content">
        
    <form method="post" action = "/signup">
    
        <div class="formbuilder-text form-group field-text-1687000541716">
            <label for="text-1687000541716" class="formbuilder-text-label">Full name</label>
            <input type="text" class="form-control" name="fullname" id="fullname">
        </div>
        <div class="formbuilder-text form-group field-text-1687000571798">
            <label for="text-1687000571798" class="formbuilder-text-label">Registration No</label>
            <input type="text" class="form-control" name="regno" id="regno">
        </div>
        <div class="formbuilder-text form-group field-text-1687000606968">
            <label for="text-1687000606968" class="formbuilder-text-label">Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="formbuilder-text form-group field-text-1687000606968">
            <label for="text-1687000606968" class="formbuilder-text-label">Password</label>
            <input type="password" class="form-control" name="passw" id="passw">
        </div>
        <div class="formbuilder-select form-group field-select-1687000626556">
            <label for="select-1687000626556" class="formbuilder-select-label">Degree Program</label>
            <select class="form-control" name="course" id="course">
                <option value="Please Select" selected="true" id="default">Please Select</option>
                <option value="BSc in Computer Science and Engineering" id="computer">BSc in Computer Science and Engineering</option>
                <option value="BSc in Mechanical Engineering" id="mechanical">BSc in Mechanical Engineering</option>
                <option value="BSc in Civil Engineering" id="civil">BSc in Civil Engineering</option>
                <option value="BSc in Electrical Engineering" id="electrical">BSc in Electrical Engineering</option>
            </select>
        </div>
        <div class="formbuilder-text form-group field-text-1687000821113">
            <label for="text-1687000821113" class="formbuilder-text-label">Contact No</label>
            <input type="text" class="form-control" name="contactno" id="contactno">
        </div>
        <div class="formbuilder-text form-group field-text-1687000842226">
            <label for="text-1687000842226" class="formbuilder-text-label">GPA</label>
            <input type="text" class="form-control" name="gpa" id="gpa">
        </div>
        <div class="formbuilder-textarea form-group field-textarea-1687000856762">
            <label for="textarea-1687000856762" class="formbuilder-textarea-label">Introduction</label>
            <textarea type="textarea" class="form-control" name="intro" id="intro"></textarea>
        </div>
        <div class="formbuilder-textarea form-group field-textarea-1687000862332">
            <label for="textarea-1687000862332" class="formbuilder-textarea-label">Skills</label>
            <textarea type="textarea" class="form-control" name="skills" id="skills"></textarea>
        </div>
        <div class="formbuilder-button form-group field-button-1687000906405">
            <button type="submit" class="btn-success btn" name="signupbutton" style="success" id="signupbutton">Sign Up</button>
        </div>
    
    </form>
    
    </main>
    
    <footer class="footer">
        
        <h4 align="center">DESIGNED BY EDUX TECHNICAL COLLEGE IT DEPARTMENT</h4>
        
    </footer>
 </div>


</body>

</html>